@font-face {
    font-family: 'Comodo Vintage';
    src: url(/ComodoVintage.otf);
}

body {
    background-color: #ffcb05;
    font-family: 'Comodo Vintage';
}

#gif {
	position: absolute;
}

#link {
    background-color: #FFEAA580;
}

#contact_body {
    background-image: url(/Plenty_pika.png);
}